lang: fr
project:
  type: website
  # render:
  #   - index.qmd
  #   - Courses/notations.qmd
  #   - Courses/th_asymptotique.qmd
  #   - Courses/simulation.qmd
website:
  page-navigation: true
  back-to-top-navigation: true
  sidebar:
    - id: introduction
      title: "Présentation"
      style: "floating"
      collapse-level: 1
      align: left
      contents:
        - index.qmd
    - id: cours
      collapse-level: 1
      contents:
        - section: "Cours"
          # href: docs/guide/index.qmd
          contents:
            - Courses/notations.qmd
            - Courses/th_asymptotique.qmd
            - Courses/simulation.qmd
            - Courses/loi_normale1D.qmd
    - id: tp
      collapse-level: 1
      contents:
        - section: "TP"
          contents:
            - TP/TP1.qmd
    - id: td
      collapse-level: 1
      contents:
        - section: "TD"
          contents:
            - TD/TD1.qmd
  title: "HAX603X: Modélisation stochastique"
  site-url: https://josephsalmon.github.io/HAX603X/
  repo-url: https://github.com/josephsalmon/HAX603X
  repo-actions: [source, issue]
  navbar:
    title: HAX603X
    background: primary
    search: true
    left:
      - text: "Présentation"
        href: index.qmd
      - text: "Cours"
        href: Courses/notations.qmd
        # menu:
        #   - Courses/notations.qmd
        #   - Courses/th_asymptotique.qmd
        #   - Courses/simulation.qmd
      - text: "TD"
        href: TD/TD1.qmd
      - text: "TP"
        href: TP/TP1.qmd
    tools:
      - icon: github
        href: https://github.com/josephsalmon/HAX603X
        text: GitHub
      - icon: bicycle
        href: https://moodle.umontpellier.fr/course/view.php?id=25763
        text: Moodle

format:
  html:
    theme:
      spacelab
      # light: spacelab
    css: [custom.css, custom.scss]
    # mainfont: Atkinson Hyperlegible
    html-math-method: katex
    toc-location: right
    toc: true
    toc-depth: 3
    code-fold: false
    code-tools:
      toggle: false
      source: false
    code-overflow: wrap
    highlight-style: github
    fig-responsive: true
    fig.align: center
    reference-location: margin
    citation-location: margin
    # self-contained: true
    # fig-format: svg
