
.theorem {
    padding: .2em 1em .2em 1em;
    margin: 0 0 1em 0;
    background-position: 1em .5em;
    background-size: 2em auto;
    background-repeat: no-repeat;
    border-radius: .25em;
    border: 1px solid #C0C0C0;
    background-color: #F0F0F0;
    min-height: 3em;
}

.definition {
    padding: .2em 1em .2em 1em;
    margin: 0 0 1em 0;
    background-position: 1em .5em;
    background-size: 2em auto;
    background-repeat: no-repeat;
    border-radius: .25em;
    border: 1px solid #C0C0C0;
    background-color: #F0F0F0;
    min-height: 3em;
}
